<% 
    @dataImage = {
        url: "modern_house.jpg",
        title: "Contact Us",
        text: "We will get back to you asap!"
    }
%>
<%= render :partial => "shared/full_image", :object => @dataImage %>

<section class="container my-5">
    <div class="mw-form custom-form">
        <div class="contactInfo">
            <div class="box">
                <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                <div class="text">
                    <h3>Address</h3>
                    <p>1013  Grigri<br>Fresno PO <br>Provence 93706</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fas fa-phone-alt"></i></div>
                <div class="text">
                    <h3>Telephone</h3>
                    <p>202-555-0183</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fas fa-envelope"></i></div>
                <div class="text">
                    <h3>Email</h3>
                    <p>yabdous@hotmail.red</p>
                </div>
            </div>
        </div>
        <div class="contactForm">
            <form>
                <h2>Send your message</h2>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Name</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <textarea required="required"></textarea>
                    <span>Write your message</span>
                </div>
                <div class="inputBox">
                    <input type="submit" name="" value="Send">
                </div>
            </form>
        </div>
    </div>
</section>
