<section id="privacy-olicy">
  <div class="card_terms">
      <h1 class="primary-heading">Privacy Policy</h1>
      <p class="paragraph">
          1) Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non itaque illum corrupti dolor, incidunt sunt maxime vero earum in, atque autem harum? Maxime id numquam nobis totam voluptatum fugiat quam. <br> <br>
              •	   Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores reprehenderit ipsa neque eius modi pariatur est optio odio laboriosam fuga, officiis perferendis dolor necessitatibus iure blanditiis saepe veritatis animi numquam. <br> <br>
              •	   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga ab cupiditate voluptate eaque fugiat sit praesentium expedita deleniti quasi mollitia, corrupti asperiores impedit dolor aut illum, consequatur labore perferendis sed.
          <br><br><br>
          2) Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quam similique alias quasi id aliquam quis placeat ipsa, labore soluta consequatur accusantium, itaque quae ab. Minima minus fugit omnis veritatis.
          <br><br><br>
          3) Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus optio explicabo modi non numquam voluptatibus voluptatum reiciendis sit fugiat placeat nobis enim fugit velit iste pariatur magnam, praesentium tempore animi.
          <br><br><br>
          4) Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam odit excepturi vitae aspernatur impedit modi iusto quidem necessitatibus! Velit assumenda maxime provident asperiores officia quae atque fugit pariatur. Veritatis, eum!
          <br><br><br>
          5) Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae delectus ut, sit qui enim voluptates, quia quos tenetur laboriosam debitis nam voluptate voluptas, corrupti accusamus quaerat. Unde hic reiciendis mollitia?
          <br><br><br>
          6) Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus culpa voluptates unde aperiam ex laudantium nostrum facilis incidunt similique nihil saepe explicabo officiis quaerat inventore ullam, quas amet distinctio praesentium.
          <br><br><br>
          7) Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatum iste officiis at praesentium minima libero obcaecati sunt ex odit, non molestias expedita vero eveniet voluptatibus deserunt repudiandae rem natus.
          <br><br><br>
          8) Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, commodi doloribus praesentium quae ipsa ea nam, expedita ad harum quisquam fugiat deserunt. Est atque distinctio facere illo. Soluta, facere ex.
          <br><br><br>
          9) Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus excepturi voluptatem similique praesentium! Hic dolor explicabo perspiciatis facilis aut! Minima fugit corrupti a eaque ex, temporibus obcaecati suscipit. Autem, dignissimos.
      </p>
  </div>
</section>