<section class="section_team">
    <div class="card_team">
        <div class="bg-image">
            <img src="assets/big_building.jpeg" alt="">
        </div>
        <div class="pic">
            <img src="assets/erwan_le_corre.jpg" alt="cet_homme_aime_python_et_il_le_lui_rend_bien">
        </div>
        <div class="info">
            <h3>Erwan Le Corre</h3>
            <span><i class="fas fa-code"></i> Love beer</span>
            <p>Always keep your hovercraft full of eels</p>
            <div class="icons_team">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="https://github.com/Septentrion50" class="fab fa-github"></a>
            </div>
        </div>
    </div>

     <div class="card_team">
        <div class="bg-image">
            <img src="assets/big_building.jpeg" alt="">
        </div>
        <div class="pic">
            <img src="assets/cedric_mesas.jpg" alt="ancien_product_owner">
        </div>
        <div class="info">
            <h3>Crédric Mesas</h3>
            <span><i class="fas fa-code"></i> Love front</span>
            <p>I like fish, chips and dips</p>
            <div class="icons_team">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="https://github.com/cedricmesas" class="fab fa-github"></a>
            </div>
        </div>
    </div>

   <div class="card_team">
        <div class="bg-image">
            <img src="assets/big_building.jpeg" alt="">
        </div>
        <div class="pic">
            <img src="assets/pp.jpeg" alt="ancien_integrateur">
        </div>
        <div class="info">
            <h3>Pierre-Henry Bord</h3>
            <span><i class="fas fa-code"></i> Love CSS</span>
            <p>Empty</p>
            <div class="icons_team">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="https://github.com/phbord" class="fab fa-github"></a>
            </div>
        </div>
    </div>


    <div class="card_team">
        <div class="bg-image">
            <img src="assets/big_building.jpeg" alt="">
        </div>
        <div class="pic">
            <img src="assets/gg.jpeg" alt="cet_homme_aime_les_mathématiques">
        </div>
        <div class="info">
            <h3>Hugo Le Maitre</h3>
            <span><i class="fas fa-code"></i> Love math</span>
            <p>Empty</p>
            <div class="icons_team">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="https://github.com/hugomtr" class="fab fa-github"></a>
            </div>
        </div>
    </div>

     <div class="card_team">
        <div class="bg-image">
            <img src="assets/big_building.jpeg" alt="">
        </div>
        <div class="pic">
            <img src="assets/sebastien_simon.jpg" alt="le_boss">
        </div>
        <div class="info">
            <h3>Sébastien Simon</h3>
            <span><i class="fas fa-code"></i> Love when it's working</span>
            <p>Putting that aside</p>
            <div class="icons_team">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="https://github.com/Noheat9" class="fab fa-github"></a>
            </div>
        </div>
    </div>
</section>