<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Hello <%= @user.username %>!</h1>
        <p>Congratulations, your ad has been validated by our team.</p>
        <p>To access your customer area, log in via: <%= @url %>.</p>
        <p>See you soon on House of Coin website!</p>
        <p>The House of Coin team.</p>
    </body>
</html>