<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Hello <%= @user.username %> and welcome to us!</h1>
        <p>
        You are registered on monsite.fr using the following e-mail: <%= @ user.email%>.
        </p>
        <p>
        To access your customer area, log in via: <%= @url%>.
        </p>
        <p>See you soon on monsite.fr!</p>
    </body>
</html>