<style>
.navbar li a{
  color: white !important;
  }
</style>

<div class="float-right">

<ul class="navbar navbar-dark bg-dark flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item white">
    <a class="nav-link" href="#">Messages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Friends</a>
  </li>
</ul>
</div>