
<ul class="nav navbar-dark flex-column">
  <li class="nav-item">
    <a class="nav-link active btn" href="<%root_path%>">Return to Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
</ul>

