<% @messages.each do |message| %>
  <div class="d-flex flex-row p-3">
    <% @avatar_data = { class: 'img-avatar float-end ms-3 mb-3' } %>
    <%= render :partial => "shared/avatar", :object => @avatar_data %>
    <%= User.find_by(id:message.values[1]).username%>: <%= message.values[2] %>
  </div>
<% end %>

