<h4>Say Something!</h4>
<div class="container" height="20%">
  <div class="text-center">
  <img src="<%=asset_path 'coffee.png'%>" alt="image-cofee"></div>
</div>



<div class="d-flex flex-row justify-content-between">
  <div class="card col-md-9 ml-1">
    <div class="d-flex flex-row p-3"> <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-7.png" width="30" height="30">
        <div class="chat ml-2 p-3">Hello and thankyou for visiting HouseCoin</div>
    </div>
    <div class="form-group px-3"> 
      <textarea class="form-control" placeholder="Type your message"></textarea> 
      <button type="button" class="btn btn-primary">submit</button>
    </div>
  </div>
  <div class="card col-md-2 mr-1">
    <div class="col-md-4"><%= render :partial => "column-navbar" %>
  </div>
</div>

