<div class="container my-5">
    <h5>Brief characteristics</h5>
    <ul class="row">
        <li class="col-12 col-sm-8">
            <p><strong>City :</strong>   <%= @real_estate.city %></p>
        </li>
        <li class="col-12 col-sm-8">
            <p><strong>Zipcode :</strong> <%= @real_estate.zipcode %></p>
        </li>
        <li class="col-12 col-sm-8">
            <p><strong>Adress :</strong> <%= @real_estate.adress %></p>
        </li>
    </ul>
</div>