<div class="container my-5">
    <h2>Brief characteristics</h2>
    <ul class="row">
        <li class="col-12 col-sm-8">
            <p>City :   <%= @real_estate.city %></p>
        </li>
        <li class="col-12 col-sm-8">
            <p>Zipcode: <%= @real_estate.zipcode %></p>
        </li>
        <li class="col-12 col-sm-8">
            <p>Adress : <%= @real_estate.adress %></p>
        </li>
    </ul>
</div>