<div class="mt-2 mb-4 get-housecoin">
    <ul class="row">
        <li class="d-flex flex-column col-4 col-sm-4 col-md-4">
            <h6>Buy HouseCoin since :</h6>
            <h4><%= @real_estate.coin_price %>€</h4>
        </li>
        <li class="d-flex flex-column col-4 col-sm-4 col-md-5" id="button-housecoin">
            <%=button_to 'Get housecoin', house_coins_path, method: :post, params: { real_estate_id: @real_estate.id, coin_price: @real_estate.coin_price, user_id: @real_estate.user, order_id: current_order }, class: "btn btn-primary"%>
        </li>
    </ul>
</div>
