<div class="container my-5">
    <ul class="row">
        <li class="col-12 col-sm-8">
            <h5>Buy HouseCoin since :</h5>
            <h3><%= @real_estate.price / 100 %>€</h3>
        </li>
        <li class="col-12 col-sm-8">
        <%= link_to "Get a HouseCoin", 
                #new_charge_path(@charge.id), 
                class: "card-link btn btn-primary btn-sm me-1 my-1" %>
        </li>
    </ul>
</div>
