<div class="container my-5">
    <div class="row">
        <li class="col-12 col-sm-3">
            <i class="fas fa-..."></i>
        </li>
        <li class="col-12 col-sm-3">
        <i class="fas fa-paper-plane"></i>
            <h2>Subscribe to newsletter</h2>
        </li>
    </div>
</div>