<div class="newsletter-block mt-auto">
    <li class="col-4 square-block">
        <i class="fas fa-paper-plane fa-10x"> </i>
    </li>

    <li class="d-flex flex-column col-8">
        <h3 class="title-news mb-2"><strong>Subscribe to newsletter</strong></h3>
        <p class="text-news">Get the latest advices and interesting offers and real estate</p>
        <div class="form-group mt-3">
        <%= text_field_tag :subscribe, '', class: "form-control" %>
        </div>
        <div class="form-group">
        <%= submit_tag "Subscribe", class: "btn btn-outline-primary" %>
        </div>
    </li>
</div>