<div class="mt-5 newsletter-block">
    <div class="row">
        <li class="col-4">
            <i class="fas fa-paper-plane fa-9x"> </i>
        </li>
        <li class="col-8 right-newsletter">
            <h2><strong>Subscribe to newsletter</strong></h2>
            <p>Get the latest advices and interesting offers and real estate</p>
            <input type="text" id="input-newsletter" placeholder="Your e-mail address">
            <%=button_to 'Suscribe', house_coins_path, method: :post, class: "btn btn-outline-primary"%>
        </li>
    </div>
</div>