<div class="my-5 cross-selling">
    <h2>You might be interested in</h2>
    <ul class="row">
        <li class="col-12 col-sm-6 col-md-3">
        </li>
        <li class="col-12 col-sm-6 col-md-3">
        </li>
        <li class="col-12 col-sm-6 col-md-3">
        </li>
        <li class="col-12 col-sm-6 col-md-3">
        </li>
    </ul>
</div>