<div class="mt-2 mb-4 picto-presentation">
    <ul class="picto-list row mt-3">
        <li class="d-flex flex-column col-4 col-sm-4 col-md-4">
            <i class="far fa-building"></i>
            <h4 class="mt-2"><%= @real_estate.city %></h4>
        </li>
        <li class="d-flex flex-column col-4 col-sm-4 col-md-4">
            <i class="fas fa-map-marker-alt"></i>
            <h4 class="mt-2">RE area</h4>
        </li>
        <li class="d-flex flex-column col-4 col-sm-4 col-md-4">
            <i class="fas fa-map-marker-alt"></i>
            <h4 class="mt-2">RE type</h4>
        </li>
    </ul>
</div>

<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0)">
<path d="M28 18.1801L45.62 21.6801C47.04 21.9801 48 23.1801 48 24.6001V45.0001C48 46.6601 46.66 48.0001 45 48.0001H27C27.56 48.0001 28 47.5601 28 47.0001V46.0001H45C45.54 46.0001 46 45.5601 46 45.0001V24.6001C46 24.1401 45.68 23.7201 45.22 23.6201L28 20.2201V18.1801Z" fill="#4764C3"/>
<path d="M39 28C39.56 28 40 28.44 40 29C40 29.56 39.56 30 39 30H35C34.44 30 34 29.56 34 29C34 28.44 34.44 28 35 28H39Z" fill="#4764C3"/>
<path d="M39 34C39.56 34 40 34.44 40 35C40 35.56 39.56 36 39 36H35C34.44 36 34 35.56 34 35C34 34.44 34.44 34 35 34H39Z" fill="#4764C3"/>
<path d="M39 40C39.56 40 40 40.44 40 41C40 41.56 39.56 42 39 42H35C34.44 42 34 41.56 34 41C34 40.44 34.44 40 35 40H39Z" fill="#4764C3"/>
<path d="M28 47.0001C28 47.5601 27.56 48.0001 27 48.0001C26.44 48.0001 26 47.5601 26 47.0001V46.0001V19.0001C26 18.7001 26.14 18.4201 26.36 18.2201C26.6 18.0401 26.9 17.9601 27.2 18.0201L28 18.1801V20.2201V46.0001V47.0001Z" fill="#4764C3"/>
<path d="M26 46V47C26 47.56 26.44 48 27 48H19C19.56 48 20 47.56 20 47V46H26Z" fill="#4764C3"/>
<path d="M21 10C21.56 10 22 10.44 22 11C22 11.56 21.56 12 21 12H17C16.44 12 16 11.56 16 11C16 10.44 16.44 10 17 10H21Z" fill="#4764C3"/>
<path d="M22 17C22 17.56 21.56 18 21 18H17C16.44 18 16 17.56 16 17C16 16.44 16.44 16 17 16H21C21.56 16 22 16.44 22 17Z" fill="#4764C3"/>
<path d="M21 22C21.56 22 22 22.44 22 23C22 23.56 21.56 24 21 24H17C16.44 24 16 23.56 16 23C16 22.44 16.44 22 17 22H21Z" fill="#4764C3"/>
<path d="M21 28C21.56 28 22 28.44 22 29C22 29.56 21.56 30 21 30H17C16.44 30 16 29.56 16 29C16 28.44 16.44 28 17 28H21Z" fill="#4764C3"/>
<path d="M12 29C12 29.56 11.56 30 11 30H7C6.44 30 6 29.56 6 29C6 28.44 6.44 28 7 28H11C11.56 28 12 28.44 12 29Z" fill="#4764C3"/>
<path d="M11 10C11.56 10 12 10.44 12 11C12 11.56 11.56 12 11 12H7C6.44 12 6 11.56 6 11C6 10.44 6.44 10 7 10H11Z" fill="#4764C3"/>
<path d="M11 16C11.56 16 12 16.44 12 17C12 17.56 11.56 18 11 18H7C6.44 18 6 17.56 6 17C6 16.44 6.44 16 7 16H11Z" fill="#4764C3"/>
<path d="M11 22C11.56 22 12 22.44 12 23C12 23.56 11.56 24 11 24H7C6.44 24 6 23.56 6 23C6 22.44 6.44 22 7 22H11Z" fill="#4764C3"/>
<path d="M18 37C18 36.44 17.54 36 17 36H11C10.44 36 10 36.44 10 37V46H8.00003V37C8.00003 35.34 9.34003 34 11 34H17C18.66 34 20 35.34 20 37V46H18V37Z" fill="#4764C3"/>
<path d="M10 46H18H20V47C20 47.56 19.56 48 19 48H9.00003C8.44003 48 8.00003 47.56 8.00003 47V46H10Z" fill="#4764C3"/>
<path d="M3.5 0.400022L25.48 3.74002C26.94 3.98002 28 5.22002 28 6.70002V18.18L27.2 18.02C26.9 17.96 26.6 18.04 26.36 18.22C26.14 18.42 26 18.7 26 19V6.70002C26 6.20002 25.64 5.78002 25.16 5.70002L3.18 2.38002C3.12 2.36002 3.06 2.36002 3 2.36002C2.76 2.36002 2.54 2.44002 2.36 2.60002C2.12 2.80002 2 3.06002 2 3.36002V45C2 45.56 2.46 46 3 46H8V47C8 47.56 8.44 48 9 48H3C1.34 48 0 46.66 0 45V3.36002C0 2.48002 0.38 1.64002 1.06 1.08002C1.74 0.500022 2.62 0.260022 3.5 0.400022Z" fill="#4764C3"/>
</g>
<defs>
<clipPath id="clip0">
<rect width="48" height="48" fill="white"/>
</clipPath>
</defs>
</svg>


<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M28.5861 33.7012L35.7663 21.0397C36.9433 18.9068 37.5652 16.4849 37.5652 14.0348C37.5652 6.29635 31.4797 0 24 0C16.5204 0 10.4348 6.29635 10.4348 14.0348C10.4348 16.5141 11.063 18.9391 12.2504 21.0501L19.4129 33.7012C12.8244 34.6007 8.34784 37.3743 8.34784 40.6957C8.34784 44.8602 15.0772 48 24 48C32.9238 48 39.6522 44.8602 39.6522 40.6957C39.6522 37.3743 35.1757 34.5997 28.5861 33.7012ZM14.0682 20.0243C13.056 18.2275 12.5218 16.1562 12.5218 14.0348C12.5218 7.4473 17.6713 2.08696 24 2.08696C30.3287 2.08696 35.4783 7.4473 35.4783 14.0348C35.4783 16.1332 34.9461 18.2066 33.9444 20.0202L24 37.559L22.007 34.0466L14.0682 20.0243ZM24 45.913C16.0059 45.913 10.4348 43.1635 10.4348 40.6957C10.4348 38.713 14.1934 36.3423 20.5252 35.664L23.0922 40.1885C23.2779 40.5151 23.6244 40.7165 24 40.7165C24.3757 40.7165 24.7221 40.5151 24.9078 40.1885L27.4748 35.664C33.8056 36.3423 37.5652 38.713 37.5652 40.6957C37.5652 43.1635 31.9941 45.913 24 45.913Z" fill="#4764C3"/>
<path d="M31.3044 13.5652C31.3044 9.53739 28.0268 6.26086 24 6.26086C19.9722 6.26086 16.6957 9.53739 16.6957 13.5652C16.6957 17.593 19.9722 20.8696 24 20.8696C28.0268 20.8696 31.3044 17.593 31.3044 13.5652ZM18.7826 13.5652C18.7826 10.6883 21.1232 8.34782 24 8.34782C26.8769 8.34782 29.2174 10.6883 29.2174 13.5652C29.2174 16.4421 26.8769 18.7826 24 18.7826C21.1232 18.7826 18.7826 16.4421 18.7826 13.5652Z" fill="#4764C3"/>
</svg>


<svg width="44" height="43" viewBox="0 0 44 43" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M35.5 8.45H1C0.787827 8.45 0.584344 8.53429 0.434315 8.68431C0.284285 8.83434 0.2 9.03783 0.2 9.25V41.5C0.2 41.7122 0.284285 41.9157 0.434315 42.0657C0.584344 42.2157 0.787827 42.3 1 42.3H35.5C35.7122 42.3 35.9157 42.2157 36.0657 42.0657C36.2157 41.9157 36.3 41.7122 36.3 41.5V9.25C36.3 9.03783 36.2157 8.83434 36.0657 8.68431C35.9157 8.53429 35.7122 8.45 35.5 8.45ZM5.55 10.05H8.45V17.45H5.55V10.05ZM1.8 10.05H3.95V18.25C3.95 18.4622 4.03429 18.6657 4.18431 18.8157C4.33434 18.9657 4.53783 19.05 4.75 19.05H9.25C9.46217 19.05 9.66566 18.9657 9.81569 18.8157C9.96571 18.6657 10.05 18.4622 10.05 18.25V10.05H12.2V40.7H1.8V10.05ZM34.7 40.7H13.8V10.05H34.7V40.7Z" fill="#4764C3" stroke="#4764C3" stroke-width="0.1"/>
<path d="M31.75 37.7H31.7V37.75V39.25V39.3H31.75H33.25H33.3V39.25V37.75V37.7H33.25H31.75Z" fill="#4764C3" stroke="#4764C3" stroke-width="0.1"/>
<path d="M28.75 37.7H28.7V37.75V39.25V39.3H28.75H30.25H30.3V39.25V37.75V37.7H30.25H28.75Z" fill="#4764C3" stroke="#4764C3" stroke-width="0.1"/>
<path d="M25.75 37.7H25.7V37.75V39.25V39.3H25.75H27.25H27.3V39.25V37.75V37.7H27.25H25.75Z" fill="#4764C3" stroke="#4764C3" stroke-width="0.1"/>
<path d="M20.5 17.55H28C28.61 17.55 29.195 17.3077 29.6263 16.8763C30.0577 16.445 30.3 15.86 30.3 15.25C30.3 14.64 30.0577 14.055 29.6263 13.6237C29.195 13.1923 28.61 12.95 28 12.95H20.5C19.89 12.95 19.305 13.1923 18.8737 13.6237C18.4423 14.055 18.2 14.64 18.2 15.25C18.2 15.86 18.4423 16.445 18.8737 16.8763C19.305 17.3077 19.89 17.55 20.5 17.55ZM20.5 14.55H28C28.1857 14.55 28.3637 14.6237 28.495 14.755C28.6263 14.8863 28.7 15.0643 28.7 15.25C28.7 15.4357 28.6263 15.6137 28.495 15.745C28.3637 15.8763 28.1857 15.95 28 15.95H20.5C20.3143 15.95 20.1363 15.8763 20.005 15.745C19.8737 15.6137 19.8 15.4357 19.8 15.25C19.8 15.0643 19.8737 14.8863 20.005 14.755C20.1363 14.6237 20.3143 14.55 20.5 14.55Z" fill="#4764C3" stroke="#4764C3" stroke-width="0.1"/>
<path d="M43.75 10.05H43.8V10V8.5V8.45H43.75H37.75H37.7V8.5V10V10.05H37.75H39.95V40.7H37.75H37.7V40.75V42.25V42.3H37.75H43.75H43.8V42.25V40.75V40.7H43.75H41.55V10.05H43.75Z" fill="#4764C3" stroke="#4764C3" stroke-width="0.1"/>
<path d="M34.7 1V3.2H13.8V1V0.95H13.75H12.25H12.2V1V3.2H1.8V1V0.95H1.75H0.25H0.2V1V7V7.05H0.25H1.75H1.8V7V4.8H12.2V7V7.05H12.25H13.75H13.8V7V4.8H34.7V7V7.05H34.75H36.25H36.3V7V1V0.95H36.25H34.75H34.7V1Z" fill="#4764C3" stroke="#4764C3" stroke-width="0.1"/>
</svg>
