<div class="my-5 cross-selling">
    <h2>You might be interested in</h2>
    <ul class="row">
        <li class="col-12 col-sm-6 col-md-3">
        <% (-1).downto(-4) do |i| %> 
            <li class="col-12 col-sm-6 col-md-4 mb-3">
                <%= @estates[i] %>
            </li>
        <% end %>
        </li> 
    </ul>
</div>