<div class="container my-5">
    <h2>You might be interested in</h2>
    <ul class="row">
        <li class="col-12 col-sm-6 col-md-3">
        <% (-1..-4).each do |i| %>
            <li class="col-12 col-sm-6 col-md-4 mb-3">
                <% @estate = estates[i] %>
                <%= render :partial => "card_estate", :object => @estate %>
            </li>
        <% end %>
        </li> 
    </ul>
</div>