<div class="mt-2 mb-4 picto-presentation">
    <ul class="picto-list row mt-3">
        <li class="d-flex flex-column col-4 col-sm-4 col-md-4">
        <%= inline_svg_tag "type_building.svg", class: 'picto-show' %>
            <h6 class="text-picto mt-2">RE area</h6>
        </li>
        <li class="d-flex flex-column col-4 col-sm-4 col-md-4">
        <%= inline_svg_tag "area.svg", class: 'picto-show' %>
            <h6 class="mt-2">RE area</h6>
        </li>
        <li class="d-flex flex-column col-4 col-sm-4 col-md-4">
        <%= inline_svg_tag "localisation.svg", class: 'picto-show' %>
            <h6 class="mt-2"><%= @real_estate.city %></h6>
        </li>
    </ul>
</div>