<div class="container my-5">
    <ul class="row">
        <li class="col-12 col-sm-6 col-md-3">
        </li>
        <li class="col-12 col-sm-6 col-md-3">
        </li>
        <li class="col-12 col-sm-6 col-md-3">
        </li>
        <li class="col-12 col-sm-6 col-md-3">
        </li>
    </ul>
</div>