<div class="card h-100">
<%= image_tag "https://unsplash.com/photos/2d4lAQAlbDA" %>
    <%# if @real_estate.picture.attached? %>
        <%#= image_tag @real_estate.picture, alt: 'picture', class: 'w-100'%>
    <%# else %>
        <%#= image_tag @real_estate.image_url, alt: 'picture', class: 'w-100'%>
    <%# end %>
    <div class="card-body">
        <h5 class="card-title"><%= @real_estate.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Admin :</h6>
        <p class="card-text"> some text</p>
        <p class="card-text"> some other text</p>
        <div class="mb-3 text-center">
            <%= link_to "See", 
                real_estate_path(@real_estate.id), 
                class: "card-link btn btn-dark btn-sm me-1 my-1" %>
        </div>
    </div>
</div>