<div id="small-carousel" class="carousel slide mb-5" data-bs-ride="carousel">
    <!-- INDICATOR BUTTONS -->
    <div class="carousel-indicators">
        <% @real_estate.pictures.each.with_index do |img, index| %>
            <button type="button" 
                    data-bs-target="#small-carousel" 
                    data-bs-slide-to="<%= index %>" 
                    aria-label="Slide <%= index + 1 %>" 
                    <% if index == 0 %> aria-current="true" class="active"<% end %>></button>
        <% end %>
    </div>

    <div class="carousel-inner">
        <!-- BODY -->
        <% @real_estate.pictures.each.with_index do |img, index| %>
            <div class="carousel-item<% if index == 0 %> active<% end %>">
                <!-- Picture -->
                <div class="bd-placeholder-img" style="background-image: url('<%= polymorphic_url(@real_estate.thumbnail(index)) %>');"></div>
            </div>
        <% end %>
    </div>

    <!-- PREV AND NEXT BUTTONS -->
    <button class="carousel-control-prev" type="button" data-bs-target="#small-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#small-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
