<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css' rel='stylesheet' />

<div id="map">
</div>
<input type="hidden" value="<%= @markers.to_json%>" id="marker">
<style>
#map {width:600px; height:600px}
</style>
<script >
const mapElement = document.getElementById('map');
mapboxgl.accessToken = "<%= ENV['MAPBOX_API_KEY']%>";

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v11',
  center: [3.501873,44.517611],
  zoom: 8,
});

let dataset_marker = document.getElementById("marker").value;
const markers = JSON.parse(dataset_marker)
  markers.forEach((marker)=> {
    let markerPopup = new mapboxgl.Popup({offset: 25})
    .setHTML("test");
    new mapboxgl.setLngLat(10,10)
    .setPopup(markerPopup)
    .addTo(map);
})
</script>
