<section class="container my-5">
    <% @image_data = {url: 'img_home.png', pos_x: 'right', pos_y: '50%'} %>
    <%= render :partial => "search_estate", :object => @image_data %>
</section>

<section class="container my-5">
    <h1>Search for an offer</h1>
    <p class="sub-title">Choose from the most advantageous offers</p>
    <ul class="estate-list row align-items-stretch align-content-stretch">
        <% @estates.each do |estate| %>
            <li class="col-12 col-sm-6 col-md-4 mb-3">
                <% @estate = estate %>
                <%= render :partial => "card_estate", :object => @estate %>
            </li>
        <% end %>
    </ul>
</section>

<%= render 'mapbox_index' %>
