label,input[type="text"],input[type="number"],input[type="email"],textarea {
    font-size: 17px;
}

.mw-form {
    width: 100%;
    max-width: 25rem;
}
.custom-form {
    padding: 15px;
    border-radius: .25rem;
    background-color: $pink;
}