.get-housecoin {
    border-radius: .3rem;
    background-color: $pink;
    padding: 25px;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
}

.button-housecoin {
    display: flex;
    margin-top: 10px;
}