.get-housecoin {
    border-radius: .3rem;
    background-color: $pink;
    padding: 20px;
    display: flex;
    justify-content: right;
    align-items: right;
}

.row .li .button-housecoin {
    padding-left: 800px;
    display: flex;
}