.get-housecoin {
    border-radius: .3rem;
    background-color: $pink;
    padding: 20px;
}

.ul .li #button-housecoin {
    display: inline-block;
    margin-left : 350px!important;
    align-items: right;
    padding: 500px;
}
