body {
    color: $dark;
    font-family: $font-default;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $font-title;
}
h1 {
    font-size: 51.88px;
}
ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a,a * {
    text-decoration: none;
}

.sub-title {
    font-size: 21.25px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: $pink;
}

.mw-form {
    width: 100%;
    max-width: 25rem;
}
.custom-form {
    padding: 15px;
    border-radius: .25rem;
    background-color: $pink;
}
