.newsletter-block {
    background-color: $pink;
    padding: 6rem 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    .fas {
        opacity: 0.3;
        color: $primary;
    }

    .form-group {
        width: 250px;
        float: left;
    }
}

.square-block {
    display: flex;
    flex-direction: column;
    padding-left: 15rem;
}