.newsletter-block {
    background-color: $pink;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;

    .fas {
        opacity: 0.3;
        color: $primary;
    }
}
.row .square-block {
    padding-left: 150px;
}

.row .form-newsletter {
    width: 260px;
}
