.estate-search {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}
.estate-search-w {
    max-width: 445px;
    padding-right: 10px;
    background-color: $light;
}

.estate-list {
    .card-title,.card-text {
        color: $dark;
    }
    .card-title {
        font-size: 21.25px;
        overflow: hidden;
    }
    .card-text {
        font-size: 17px;
    }
    .card-image {
        width: 100%;
        height: 196px;
        background-color: $dark;
        overflow: hidden;
    }
}
