.estate-search {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}
.estate-search-w {
    max-width: 445px;
    padding-right: 10px;
    background-color: $light;
}

.estate-list {
    .card {
        &:hover {
            -webkit-box-shadow: 0 0 5px 5px rgba(20,27,45,.125);
            box-shadow: 0 0 5px 5px rgba(20,27,45,.125);
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
        }
    }
    .card-title,.card-text {
        color: $dark;
    }
    .card-title {
        font-size: 21.25px;
        overflow: hidden;
    }
    .card-text {
        font-size: 17px;
    }
    .card-image {
        width: 100%;
        height: 196px;
        background-color: $dark;
        overflow: hidden;
    }
}

.search-estate-form {
    width: auto;
    padding: 15px;
    border-radius: .25rem;
    background-color: $pink;
}
