.estate-search {
    background: url(../images/img_home.png)
}
.estate-search-w {
    max-height: 55rem;
}
.card-image {
    width: 100%;
    height: 196px;
    background-color: $dark;
    overflow: hidden;
}
