.static-page-container {
    .btn-circle {
        border: 1px solid $primary;

        &:hover {
            border-color: $primary_hover;
            text-decoration: none;

            .fab {
                color: $primary_hover;
            }
        }
        &.disabled {
            opacity: .125;
        }
        .fab {
            color: $primary;
        }
    }
    .avatar {
        width: 8rem;
        height: 8rem;
        border: 1px solid $primary;
        border-radius: 50%;
    }
}