// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//beginning of contact

*
{
    margin: 0;
    padding: 0!important;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.content {
    padding-bottom: 150px!important;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: 
    linear-gradient(
      rgba(10, 10, 10, 0.5),
      rgba(10, 10, 10, 0.5)
    ),
    url(modern_house.jpg);
    background-size: cover;
    
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 50px;
    font-weight: 500;
    color: #fff;
    text-shadow:
    0.03em 0 black,
}

.contact .content p {
    font-weight: 500;
    color: #fff;
    text-shadow:
    0.05em 0 black,
    0 0.05em black,
}

.container_contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container_contact .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container_contact .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container_contact .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container_contact .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
    text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black
}

.container_contact .contactInfo .box .text h3 {
    width: 40%;
    padding: 40px;
}

.contactForm h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: black;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px) {
    .contact
    {
        padding: 50px;
    }
    .container_contact
    {
        flex-direction: column;
    }
    .container_contact .contactInfo
    {
        margin-bottom: 40px;
    }
    .container_contact .contactInfo,
    .contactForm
    {
        width: 100%;
    }
}
//end of contact

//beginning of about



#about{
    padding-top: 98px;
    padding-bottom: 101px;
    background: #fff;
    font-family: tahoma;
    text-align: justify;
    overflow: hidden;
}

#about .triangle-right{
    margin-top: 95px;
    width: 0;
    height: 0;
    border-top: 259px solid transparent;
    border-left: 470px solid #d6c6b2;
    border-bottom: 259px solid transparent;
    
    
}

#about .triangle-right img{
    position: absolute;
    left: -1px;
    top: 81px;
    width: 74%;
 
}

.fa-play{
    font-size: 100px;
    
}


#about .p-first{
    margin-bottom: 30px;
}


#about h2{
    margin-bottom: 47px;
    margin-top: 12px;
    
}


#about .social-link-text{
    margin-top: 50px;
    margin-bottom: 25px;			
    
}

#about .about-link{
    padding-left: 0px;
}

#about .about-link li{
    display: inline-block;
}

#about .about-link li a i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    border: 1px solid #d6c6b2;
    margin-right: 10px;
    font-size: 22px;
    color: black;
    transition: all .3s;
    
}


#about .about-link li a i:hover{
    color: black;
    background: #fff;
    border-color: black;
    
}


#about .about-img{
    position: relative;
    
}

.color-3{
    color: black;
}


.text-black{
    color: black;
}


.p-first{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

.btn_about{
    border-radius: 0;
    padding: 10px 20px;
}