<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
body .email-cont {
    font-family: $font-default;
    width: 100%;
    min-width: 100%;
    height: 100%;
}

.email-cont {
    background-color: $pink;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: .25rem;
    justify-content: center
}

.email-cont .email-title {
    font-family: $font-title;
    color: #141B2D;
}

.email-cont .team-signature {
    color: #1C3988;
}

p {
    font-size: 16px;
}
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
